<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-primary mb-3" %>
<br>
<%= link_to 'return to question list', questions_path, class: "btn btn-secondary"  %>
