<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<%= link_to edit_question_path(@question) do %>
  <span class="btn btn-sm btn-primary mb-3">
    <i class="fas fa-edit"></i> edit question
  </span>
<% end %>
<br>
<%= link_to 'return to question list', questions_path, class: "btn btn-sm btn-secondary"  %>
