<div class="container mb-3">
  <div class="row side_menu">
    <%= link_to job_postings_path, class: "rounded-lg side_menu" do %>
      <i class="fas fa-clipboard-list"></i> Job Postings
    <% end %>
  </div>
  <div class="row side_menu">
    <%= link_to questionnaires_path, class: "rounded-lg side_menu" do %>
      <i class="fas fa-list-ol"></i> Questionnaires
    <% end %>
  </div>
  <div class="row side_menu">
    <%= link_to questions_path, class: "rounded-lg side_menu" do %>
      <i class="fas fa-question"></i> Questions
    <% end %>
  </div>
  <div class="row side_menu">
    <%= link_to candidates_path, class: "rounded-lg side_menu" do %>
      <i class="fas fa-users"></i> Candidates
    <% end %>
  </div>
</div>