<h3>Candidates</h3>

<table>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= format('%s %s (%s)', candidate.first_name, candidate.last_name, candidate.email) %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate), class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Delete', candidate, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ create a new candidate', new_candidate_path, class: "btn btn-primary" %>
