<div class="mb-3">
  <strong>Questionnaire description</strong><br>
  <%= @questionnaire.description %>
</div>

<div class="mb-3">
  <% if @questions.size > 0 %>
    <strong>Questions included</strong>
    <% @questions.each_with_index do |question, index| %>
    <div class="questionnaire-question-row">
      <div>
        <%= question.question %>
      </div>
    </div>
    <% end %>
  <% else %>
    <strong>There are no questions linked to this questionnaire.<br>Please add some questions.</strong>
  <% end %>
</div>

<%= link_to edit_questionnaire_path(@questionnaire) do %>
  <span class="btn btn-sm btn-primary mb-3">
    <i class="fas fa-edit"></i> edit questionnaire
  </span>
<% end %>

<br>
<%= link_to 'return to questionnaires list', questionnaires_path, class: "btn btn-sm btn-secondary" %>
