<h3>Create a new job posting</h3>

<%= render 'form',
  job_posting: @job_posting,
  questionnaires: @questionnaires,
  current_questionnaire_id: @current_questionnaire_id %>

<%= link_to 'return to job postings list', job_postings_path, class: "btn btn-sm btn-secondary" %>
