// Place all the styles related to the Questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.questionnaire {
  margin-left: 5px;
  vertical-align: middle;
}

.questionnaire-row {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid lightgray;
}

.questionnaire-row:hover {
  background-color: lightcyan;
}

.questionnaire-question-row {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid lightgray;
  vertical-align: middle;
}

.questionnaire-question-row:hover {
  background-color: lightcyan;
}