// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.question {
  margin-left: 5px;
  vertical-align: middle;
}

.question-row {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid lightgray;
}

.question-row:hover {
  background-color: lightcyan;
}