// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.response-row-question {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px dotted lightgray;
}
.response-row-response {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid lightgray;
}

.response-row:hover {
  background-color: lightcyan;
}

.total-score {
  margin-top: 10px;
  font-size: 120%;
  font-weight: bold;
}